{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set base_url = url('<front>') %}

<!--  header section -->
  <header id="header">
    <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
        {{ page.site_branding }}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
          {{ page.primary_menu }}
      </nav>
    </div>
  </header>
  <!--  End header section-->
  
  <!-- Access Denied Found -->
  {%  set base_url = url('<front>')  %}
  <section id="not-found-section" class="text-center">
    <div class="container">               
      <div class="row"> 
        <div class="not-found-body" >
          <div class="not-title" >
            <h1>403</h1>
            <h2>Access Denied</h2> 
          </div>  
            <h2>Access To The Webpage Was Denied. </h2>
            <p>You are not authorized to access this page. You must login to view this page.</p>      
            <!-- <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a> -->
            <p><a href="{{ base_url }}" class="btn btn-custom btn btn-primary btn-outline with-arrow">Go Home <i class="icon-arrow-right"></i></a></p>
        </div>
      </div>          
    </div>    
  </section>
  <!-- Access Denied End -->

  <!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container wow fadeInUp">
        <div class="row footer-bottom">
          <div class="col-md-5 col-sm-12 footer-columns wow fadeInLeft">
            <h6>{% if about_us_title|render is not empty %}{{ about_us_title }}{% endif %}</h6>
            <p>{% if about_desc|render is not empty %}{{ about_desc }}{% endif %}</p>
          </div>
          <div class="col-md-3 col-sm-12 footer-bottom-col2 wow fadeInUp">
            {{ page.footer_menu }}
          </div>
          <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
          <h6>{% if title|render is not empty %}{{ title }}{% endif %}</h6>
            {% if address|render is not empty %}<p>{{ address }}</p>{% endif %}
            {% if contact_number|render is not empty %}
              <p><a href="tel:{{ contact_number }}">
                <i class="fa fa-phone"></i>{{ contact_number }}</a>
               </p>
            {% endif %}
            {% if mail|render is not empty %}
              <p><a href="mailto:{{ mail }}"><i class="fa fa-envelope"></i>{{ mail }}</a></p>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer-menu-social">
     <div class="container">
     <div class="row">  
      <div class="col-md-8 mx-auto footer-social wow fadeInDown">
        {% if facebook_url|render is not empty %}
          <a href="{{ facebook_url }}" class="facebook"><i class="fa fa-facebook"></i></a>
        {% endif %}
        {% if twitter_url|render is not empty %}
          <a href="{{ twitter_url }}" class="twitter"><i class="fa fa-twitter"></i></a>
        {% endif %}  
        {% if pinterest_url|render is not empty %}
          <a href="{{ pinterest_url }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        {% endif %}  
        {% if linkedin_url|render is not empty %}
          <a href="{{ linkedin_url }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}    
        {% if instagram_url|render is not empty %}
          <a href="{{ instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        {% endif %}       
        {% if youtube_url|render is not empty %}
          <a href="{{ youtube_url }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        {% endif %}     
      </div>
      <div class="col-md-6 mx-auto text-center copyright wow fadeInUp"> 
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}
      </div>
     </div>
     </div>
  </div>
<!-- END FOOTER SECTION -->
