
<!--  header section -->
     <header id="header">
     <div class="container">
     <nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" id="mainNav">
        {{ page.site_branding }}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
          {{ page.primary_menu }}
      </nav>
      </div>
    </header>
  <!--  End header section-->
  
  <!-- Tabs -->
  {{ page.tabs }}
  <!-- Content -->  
  {{ page.content }}
  
  <!-- FOOTER SECTION-->
    <section id="footer">
      <div class="container wow fadeInUp">
        <div class="row footer-bottom">
          <div class="col-md-5 col-sm-12 footer-columns wow fadeInLeft">
            <h6>{% if about_us_title|render is not empty %}{{ about_us_title }}{% endif %}</h6>
            <p>{% if about_desc|render is not empty %}{{ about_desc }}{% endif %}</p>
          </div>
          <div class="col-md-3 col-sm-12 footer-bottom-col2 wow fadeInUp">
            {{ page.footer_menu }}
          </div>
          <div class="col-md-4 col-sm-12 footer-bottom-col3 wow fadeInRight">
          <h6>{% if title|render is not empty %}{{ title }}{% endif %}</h6>
            {% if address|render is not empty %}<p>{{ address }}</p>{% endif %}
            {% if contact_number|render is not empty %}
              <p><a href="tel:{{ contact_number }}">
                <i class="fa fa-phone"></i>{{ contact_number }}</a>
               </p>
            {% endif %}
            {% if mail|render is not empty %}
              <p><a href="mailto:{{ mail }}"><i class="fa fa-envelope"></i>{{ mail }}</a></p>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer-menu-social">
     <div class="container">
     <div class="row">  
      <div class="col-md-8 mx-auto footer-social wow fadeInDown">
        {% if facebook_url|render is not empty %}
          <a href="{{ facebook_url }}" class="facebook"><i class="fa fa-facebook"></i></a>
        {% endif %}
        {% if twitter_url|render is not empty %}
          <a href="{{ twitter_url }}" class="twitter"><i class="fa fa-twitter"></i></a>
        {% endif %}  
        {% if pinterest_url|render is not empty %}
          <a href="{{ pinterest_url }}"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        {% endif %}  
        {% if linkedin_url|render is not empty %}
          <a href="{{ linkedin_url }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        {% endif %}    
        {% if instagram_url|render is not empty %}
          <a href="{{ instagram_url }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        {% endif %}       
        {% if youtube_url|render is not empty %}
          <a href="{{ youtube_url }}"><i class="fa fa-youtube" aria-hidden="true"></i></a>
        {% endif %}     
      </div>
      <div class="col-md-6 mx-auto text-center copyright wow fadeInUp"> 
        {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}
      </div>
     </div>
     </div>
  </div>
<!-- END FOOTER SECTION -->
